# ignore the python class files (.pyc)
*.pyc

# ignore the database file
db.sqlite3

# ignore the settings file (server side database, timezone is different)
geneva_report/settings.py

# ignore the database migration files (server side database is different)
id_lookup/migrations/*

# ignore the log file
logs/
