<!-- This is a template page based on Django Template Language (DTL) -->
{% extends 'base.html' %}

<!-- load the humanize filters, then intcomma can apply thousand separators -->
{% load humanize %}

{% block heading %}
<h1>Latest NAV</h1>
{% endblock %}

{% block content %}
<table>
	<tr>
		<th>Portfolio</th>
		<th>Date</th>
		<th>Nav</th>
		<th>Units</th>
		<th>Unit Price</th>
	</tr>

{% for r in result %}
	<tr>
		<td>{{ r.portfolio_id }}</td>
		<td>{{ r.date }}</td>
		<td>{{ r.nav|floatformat:2|intcomma }} </td>
		<td>{{ r.num_units|floatformat:2|intcomma }}</td>
		<td>{{ r.unit_price|floatformat:4 }}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
